<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="large-8 columns"><%= yield %></div>
      <div class="large-4 columns">
        <h2>About Us</h2>
        90's non gentrify, Pinterest qui photo booth semiotics before they sold out adipisicing mollit Tumblr. Cardigan kitsch post-ironic cred. Godard locavore post-ironic, blog nostrud Shoreditch freegan. Biodiesel in vero, Blue Bottle minim skateboard pug sed. Blog meggings raw denim Odd Future Schlitz, Echo Park ad non Wes Anderson quis DIY organic cray semiotics put a bird on it. Selfies incididunt Shoreditch, officia cillum kogi meggings duis paleo fashion axe next level tousled. Single-origin coffee excepteur odio vero twee irure.

      </div>
    </div>



    <%= javascript_include_tag "application" %>
  </body>
</html>
